.marketing
    margin-bottom: 120px

    &__title
        margin-bottom: 10px

    &__descr
        margin-bottom: 55px
    
    &__slider
        display: flex
        justify-content: space-between
        padding-bottom: 80px

        &-title
            position: relative
            z-index: 9999
            font-size: rem_size(24px)
            font-weight: 700
            line-height: rem_size(34px)
            color: $color_title
            max-width: 294px
            display: inline-block
            transition: color .15s

            &:hover
                color: $color_orange
        
        &-item
            position: relative
            transition: all .3s
            padding-bottom: 15px
            margin-bottom: 10px
            justify-content: center

            &:focus 
                outline: 2px solid #BCD0E5
        
        &-content
            max-width: 348px
            margin: 0 15px
        
        &-img
            transition: all .25s
            transform: scale(1)

        &-link 
            overflow: hidden
            display: inline-block
            border-radius: 12px 12px 0 0

            &:hover .marketing__slider-img
                transform: scale(1.2)
            
            &:focus 
                outline: none
        
    &__info
        display: inline-block
        margin: 25px 0 12px 0

        &-link
            position: relative
            z-index: 9999
            font-weight: 700
            border-bottom: 2px solid transparent

            &:hover
                border-bottom: 2px solid #BCD0E5

.slick-initialized .slick-slide
    display: flex