html 
    font-family: $font_main, sans-serif
    font-size: $fs_main // 16px
    line-height: rem_size(26px)
    color: $color_main

.main-title, .section-title
    
    color: $color_title

.main-title
    font-size: rem_size(44px)
    line-height: rem_size(54px)
    

.section-title
    font-size: rem_size(36px)
    line-height: rem_size(54px)
